
/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  	box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  	content: ".";
  	display: block;
 	clear: both;
 	visibility: hidden;
  	line-height: 0;
  	height: 0;
}

.clear {
  	clear: both;
}

.alignright {
  	float: right;
  	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
  	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/


body {
	background-color: #d9e0e8;
  	line-height: 1.4;
  	font-family: 'Open Sans', sans-serif;
  	/* basic reset below*/
  	margin: 0;
	padding: 0;
	border: 0;

}

.banner-image {
	height: 275px;
	opacity: .35;
	background-image: url(../images/header2.png);
	background-color: white;
	margin-bottom: 40px;
	border: 1px solid black;
}

.title {
	position: relative;
	top: -10em;
	left: 1em;
	opacity: .9;
	font-size: 1.9em;
	color: #0e4fd7;
	text-shadow: black 3px 3px 6px;
}

.highlight {
	color: red;
}

.main-menu {
	position: relative;
	top: -17em;
	right: 1em;
	/*opacity: .9;*/
}

.main-menu ul {
	float: right;
	margin-bottom: -5em;
}

.main-menu li {
	background-color: #0171f7;
	width: 15%;
	padding: 15px 41px;
	border: 1px solid black;
	display: inline;
	text-decoration: none;
	opacity: .8;
}

.main-menu li a {
  	color: white;
  	list-style-type: none;
  	text-decoration: none;
  	font-size: 1.5em;
}

.main-menu li a:hover {
	color: red;
  	list-style-type: none;
  	text-decoration: underline;
  	font-size: 1.5em;
}

.main-menu li:hover {
	background-color: #1f56a9;
}

.info-button {
	display: none;
}

.more-info-menu {
	display: none;
}

main {
	margin-top: -120px;
	margin-left: -15px;
	width: 75%;
	height: 450px;
	float: left;
}

main p {
	line-height: 1.5;
	height: auto;
}

.home-main-div {
	background-color: #f2f5f9;
	width: 45%;
	height: 400px;
	float: left;
	margin: 0 21px;
	padding: 20px;
	font-size: 18px;
	text-align: center;
	border: 3px solid #0171f7;
}

.tablet-main {
	display: none;
}

.about-link {
	color: #0171f7;
	font-size: 1.2em;
}

.more-info a:hover {
	color: blue:
	text-decoration: none;
}

aside {
	margin-top: -120px;
	margin-bottom: 50px;
	margin-right: 10px;
	height: 400px;
	padding: 5px;
	float: right;
	background-color: white;
	width: 25%;
	border: 3px solid #0171f7;
}

.run-map {
	width: 100%;
}

#about-wrapper {
	width: 100%;
	margin-bottom: 40px;
}

.about-run-map {
	float: left;
	width: 45%;
	margin: -120px 20px 40px 35px;
	height: auto;
	padding: 5px;
	border: 3px solid #0171f7;
	background-color: white;
}

.about {
	float: left;
	width: 45%;
	margin: -120px 20px 40px 25px;
	height: auto;
	padding: 20px 20px 40px 40px;
	border: 3px solid #0171f7;
	background-color: white;
}

.awards-list {
	list-style-type: square;
}

.course-description {
	width: 80%;
	height: auto;
	clear: both;
	margin: auto;
	padding: 30px;
	border: 3px solid #0171f7;
	background-color: white;
}

.results-form {
	margin-top: -120px;
	margin-left: 30px;
	padding: 20px;
	float: left;
	clear: both;
	border: 3px solid #0171f7;
	background-color: white;
}

.formfield {
	clear: both;
	border: 0px;	
}

.results-heading {

}

.results-section {
	margin: auto;
	margin-bottom: 40px;
	padding: 20px;
	padding-bottom: 20px;
	width: 70%;
	height: auto;
	border: 3px solid #0171f7;
	background-color: white;
	clear: both;

}

.year {
	display: none;
}

.results {
	display: none;
	width: 100%;
	border: 1px solid black;
}

.results th {
	text-align: center;
}

.results td {
	text-align: center;
}

.photo-grid-wrapper {
	clear: both;
	position: relative;
	left: 2em;
	margin: auto;
	width: 80%;
	margin-bottom: 40px;
	padding-top: 40px;
	height: auto;
	background-color: white;
	border: 3px solid #0171f7;

}

#photos-heading	{
	margin-left: 30px;
}

.photo-list {
	display: none;
}

.photo-grid {
	float: left;
	width: 200px;
	max-height: 285px;
  	margin: 10px;
}

#mascot {
	width: 100%;
	height: 100%;
}

#mascot-photo {
	background-color: red;
}

.about-festival-wrapper {
	position: relative;
	top: -5em;
	width: 100%;
	margin-left: 30px;
	margin-bottom: 20px;
	
}

.about-festival-photo {
	float: left;
	width: 45%;
	height: 400px;
	padding: 20px;
	margin-left: 20px;
	border: 3px solid #0171f7;
	background-color: white;
}

.about-festival {
	float: left;
	width: 45%;
	height: 400px;
	padding: 20px;
	margin-left: 20px;
	border: 3px solid #0171f7;
	background-color: white;
}


.fund-fest {
	clear: both;
	width: 95%;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 40px;
	border: 3px solid #0171f7;
	background-color: white;
	height: 50px;
	font-size: .9em;
}

.fund-fest a {
	text-decoration: none;
	color: #0171f7;
}

.fund-fest a:hover {
	text-decoration: underline;
}

footer {
	width: 100%;
	height: 155px;
	margin-top: 20px;
	padding-top: 20px;
	clear: both;
	text-align: center;
	border: 1px solid black;
	background-image: url(../images/footer2.png);
	background-color: white;
	background-repeat: repeat-x;
	opacity: .6;
}

footer a {
	text-decoration: none;
	background-color: #0171f7;
	border: 1px solid black;
	padding: 10px;
	color: white;
	font-size: 1.35em;
	text-shadow: black 2px 2px 4px;
}

footer a:hover {
	color: red;
	text-decoration: underline;
	background-color: #1f56a9;
	opacity: 1;
}

.small-footer {
	display: none;
}

/******************************************
/* RESPONSIVE STYLES
/*******************************************/

@media screen and (max-width: 1150px) {

	.title {
		position: relative;
		top: -12em;
		left: 2em;
		opacity: .9;
		font-size: 1.5em;
		color: #0e4fd7;
		text-shadow: black 2px 2px 4px;
	}

	.main-menu	{
		margin-left: 75px;
		padding-left: 5px;
		width: auto;
		clear: both;
	}
	
	.main-menu li {
		background-color: #0171f7;
		width: 10%;
		padding: 20px 31px;
		border: 1px solid black;
		display: inline;
		text-decoration: none;
		opacity: .8;
	}

	.main-menu li a {
	  	color: white;
	  	list-style-type: none;
	  	text-decoration: none;
	  	font-size: 1em;
	}

	.main-menu li a:hover {
		color: red;
	  	list-style-type: none;
	  	text-decoration: underline;
	  	font-size: 1em;
	}

	main {
		display: none;
	}

	.tablet-main {
		text-align: center;
		display: inline;
		float: left;
		clear: both;
		margin: auto;
		margin-top: -7.5em;
		margin-bottom: 20px;
		margin-left: 20px;
		padding: 30px;
		padding-top: 5px;
		padding-bottom: 30px;
		height: auto;
		width: 70%;
		background-color: white;
		border: 3px solid #0171f7;
	}

	aside {
		width: 25%;
	}

	.about {
		position: relative;
		top: -7em;
		left: 6.5em;
		float: left;
		width: 80%;
		margin: auto;
		height: auto;
		padding: 20px 20px 40px 40px;
		border: 3px solid #0171f7;
		background-color: white;
	}

	.about-run-map {
		position: relative;
		top: -4em;
		left: 6.5em;
		float: left;
		clear: both;
		width: 80%;
		margin: auto;
		height: auto;
		padding: 5px;
		border: 3px solid #0171f7;
		background-color: white;
	}

}


@media screen and (max-width: 1060px) {

	.banner-image {
		height: 200px;
		opacity: .25;
		background-image: url(../images/header2.png);
		margin-bottom: 40px;
		border: 1px solid black;
	}

	.title {
		position: relative;
		top: -12em;
		left: 2em;
		opacity: .9;
		font-size: 1.2em;
		color: #0e4fd7;
		text-shadow: black 2px 2px 4px;
	}

	.main-menu	{
		margin: 40px 15px 0 0;
		float: right;
		width: auto;
		clear: both;
	}
	
	.main-menu li {
		background-color: #0171f7;
		width: auto;
		margin: 0px;
		padding: 10px 20px;
		border: 1px solid black;
		display: inline;
		text-decoration: none;
		opacity: .8;
	}

	.main-menu li a {
	  	color: white;
	  	list-style-type: none;
	  	text-decoration: none;
	  	font-size: 1em;
	}

	.main-menu li a:hover {
		color: red;
	  	list-style-type: none;
	  	text-decoration: underline;
	  	font-size: 1.1em;
	}

	.home-main-div {
		display: none;
	}

	.tablet-main {
		text-align: center;
		display: inline;
		float: left;
		clear: both;
		margin-top: -8em;
		margin-bottom: 20px;
		margin-left: 90px;
		padding-top: 5px;
		height: auto;
		width: 80%;
		border: 3px solid #0171f7;
	}

	main {
		display: none;
	}

	aside {
		display: none;
		width: 0px;
	}

}

@media screen and (max-width: 790px) {

	.main-menu {
		display: none;
	}

	.info-button {
		display: inline;
		position: relative;
		top: -9em;
		left: 2em;
		float: left;
		background-color: #0171f7;
		padding: 5px;
		border: 1px solid black;
		color: white;
	  	list-style-type: none;
	  	font-size: 1.2em;
		opacity: .8;
	}

	.info-button p {
		margin: auto;
	}

	.info-button p:hover {
		color: red;
	  	list-style-type: none;
	  	text-decoration: underline;
	}

	.info-button:hover {
		background-color: #1f56a9;
	}

	nav ul{
		display: none;
	}

	.more-info-menu {
		display: inline;
		position: relative;
		top: -11.3em;
		right: -1em;
		background-color: red;
	}

	.more-info-menu ul {
		float: left;
		margin-bottom: -5em;
	}

	.more-info-menu li {
		background-color: #0171f7;
		width: auto;
		padding: 5px 10px;
		border: 1px solid black;
		display: inline;
		text-decoration: none;
		opacity: .9;
	}

	.more-info-menu li a {
	  	color: white;
	  	list-style-type: none;
	  	text-decoration: none;
	  	font-size: .7em;
	}

	.more-info-menu li a:hover {
		color: red;
	  	list-style-type: none;
	  	text-decoration: underline;
	  	font-size: .7em;
	}

	.more-info-menu li:hover {
		background-color: #1f56a9;
	}

	main {
		display: none;
	}

	.tablet-main {
		margin-left: 70px;
	}

	.about {
		position: relative;
		top: -5em;
		left: -1.5em;
		float: left;
		width: 80%;
		margin: auto;
		height: auto;
		padding: 20px 20px 40px 40px;
		border: 3px solid #0171f7;
		background-color: white;
	}

	.about-run-map {
		position: relative;
		top: -3em;
		left: 4.7em;
		float: left;
		clear: both;
		width: 80%;
		margin: auto;
		height: auto;
		padding: 5px;
		border: 3px solid #0171f7;
		background-color: white;
	}

	.about-festival-wrapper {
		margin-left: 10px;
	}

	.about-festival-photo {
		float: left;
		width: 25%;
		height: 140px;
		padding: 5px;
		margin-left: 0px;
		border: 3px solid #0171f7;
		background-color: white;
	}

	.about-festival {
		float: left;
		width: 45%;
		height: auto;
		padding: 20px;
		margin-left: 20px;
		border: 3px solid #0171f7;
		background-color: white;
	}

	.fund-fest {
		height: auto;
	}

}


@media screen and (max-width: 630px) {


	.title {
		width: 300px;
		position: relative;
		top: -11em;
		left: 2em;
		opacity: .9;
		font-size: 1.2em;
		color: #0e4fd7;
		text-shadow: black 2px 2px 4px;
	}

	header.banner-image {
		margin-bottom: -1em;
	}

	.tablet-main {
		margin-left: 45px;
	}


	.more-info-menu ul {
		float: left;
		margin-bottom: 20px;
	}

	.results {
		font-size: .7em;
	}

	.results-section {
		width: 90%;
		padding: 5px;
	}

	footer a {
		display: none;
	}

	.small-footer {
		display: inline;
		text-decoration: none;
		background-color: #0171f7;
		border: 1px solid black;
		padding: 10px;
		color: white;
		font-size: 1.35em;
		text-shadow: black 2px 2px 4px;
	}

	.about-festival-photo {
		display: none;
	}

	.about-festival {
		float: left;
		width: 90%;
		height: auto;
		padding: 20px;
		margin-left: 15px;
		margin-top: -60px;
		border: 3px solid #0171f7;
		background-color: white;
	}

	.fund-fest {
		height: auto;
	}

}


@media screen and (max-width: 515px) {

	.about {
		position: relative;
		top: -9em;
		left: 3em;
		float: left;
		width: 80%;
		margin: auto;
		height: auto;
		padding: 20px 20px 40px 40px;
		border: 3px solid #0171f7;
		background-color: white;
	}

	.about-run-map {
		position: relative;
		top: -5em;
		left: 3em;
		float: left;
		clear: both;
		width: 80%;
		margin: auto;
		height: auto;
		padding: 5px;
		border: 3px solid #0171f7;
		background-color: white;
	}

	.course-description {
		width: 80%;
		height: auto;
		clear: both;
		margin: auto;
		margin-left: 45px;
		margin-top: -80px;
		padding: 30px;
		border: 3px solid #0171f7;
		background-color: white;
	}


}




